.jumbotron{
  background-color:#1abc9c;
  margin-top: 50px;
  }
  .btn{
    min-width:250px;
    background-color:#474e5d;
    color: white;
    border-radius: 8px;
    border: 2px solid #1abc9c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

img{
    height: 500px;
  }
.thumbnail{
  width:330px;
  height:500px;
}
.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  ul{
    list-style: none;
  }
  .bg{
    background-color: #E8E8EE;
  }
  .git{
    font-weight: bold;
  }
  span{
    color:#993300;
    }
.jumbotron .btn{
      background-color:#474e5d;
      color: white;
      border: 2px solid white;

    }
.social{
  width: 50px;
  height: 50px;
}
